
spring.datasource.url=jdbc:postgresql://192.168.1.42:5433/ejemplo
spring.datasource.username=paco
spring.datasource.password=Qxxxxxxpos7.
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
#spring.jpa.hibernate.naming.implicit-strategy=impr
#//spring.jpa.generate-ddl=true

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true